doctype html
html(class=(place==='sf' ? 'html_sf' : 'html_nyc'))
  head
    case place
      when 'sf'
        title San Francisco Restaurant Health Inspections
        meta(name='description', content='Safediningnyc.com is a real-time project that maps San Francisco restaurants inspection reports from Department of Health and Mental Hygiene.')
        meta(property='og:image', content='http://i.imgur.com/SAWMrPm.png')
        
      default
        title New York City Restaurant Inspections
        meta(name='description', content='Safediningnyc.com is a real-time project that maps New York City restaurants inspection reports from Department of Health and Mental Hygiene.')
        meta(property='og:image', content='http://i.imgur.com/z4Mr1ez.png')

    include header.html
    script(type='text/javascript').
      var __PLACE = '!{place}';
  body      
    #loading
      #loading-content
        p#loadingText Loading
          p <span id="num_of_res">3</span> !{place} restaurants
          p <span id="num_of_reports">7</span> Health Department inspections
    include home.html
