body { margin:0; padding:0; font-family: 'Source Sans Pro', sans-serif;
	background-color:#111;}
a{color:red;}
#map {position:absolute; top:0; bottom:0; width:100%; }
#loading{
	text-transform: uppercase;
	 position:absolute; height:100%; width:100%;
    display: table;
	
}
#loading #loading-content{
	display: table-cell;
    vertical-align: middle;
    text-align:center;
}
#loading p#loadingText{
	font-size:12px;
	border-bottom:1px solid #ccc;
	display:inline-block;
	color:white;
	margin-bottom:4px;
	padding-bottom:4px;
	opacity: 0.6;
}
#loading p {
	font-size:20px;
	letter-spacing: 0.1em;
	color:white;
    padding:0;
    margin:0;
    font-weight:300;
}

html { 
    background-size: 100% 100%!important; /* width and height, can be %, px or whatever. */
}

html.html_sf{
	background: url(http://i.imgur.com/tsEw0Gz.jpg) no-repeat center center fixed;
}

html.html_nyc{
	background: url(/images/bg.jpg) no-repeat center center fixed;
}

#menu{
   	position: absolute;
   	padding:0;
	top:0;
	background: rgba(0, 0, 0, 0.6); 
	right:100px;
	width:300px;
	overflow-y: scroll;
	height:100%;
}
#search{
	position:relative;
}
#search input{
	width:280px;
	background:white;
	border:none;
	font-size:18px;
	padding:10px;
	margin:0 0 10px;
	opacity:0.8;
}

#search input:focus{
	opacity: 1;
}

::-webkit-input-placeholder {
   color: #3f020f;
}

:-moz-placeholder { /* Firefox 18- */
   color: #3f020f;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #3f020f;  
}

:-ms-input-placeholder {  
   color: #3f020f;  
}

#cuisine{
	margin-bottom:10px;
	padding-bottom:40px;
}


#footer{
	position: fixed;
	bottom:0;
	background: #111;
	color:#79a922;
	width:300px;
	cursor:pointer;
}
#footer:hover{
	background-color: #79a922;
	color: #16282b;
}
#o_close{
	position: absolute;
	top:0;
	right:0;
	display:inline-block;
	padding:10px;
	cursor: pointer;
	text-transform: uppercase;
	font-size:12px;
}
#footer:hover p#footerHeader{
	display:none;
}
#footer div{
	display:none;
}
#footer p{
	display:block;
	margin:0;
	padding:10px;
}
#overlay a{
	display:inline-block;
	border-bottom: 1px solid red;
	text-decoration: none;
	padding-bottom:2px;
}
#overlay .company{
	font-size:14px;
}
.others p{
	margin:0 0 4px 0;
}

#cusFil{
	padding:10px 0;
	background-color: #16282b;
}
#cusFil h3{
	color:#79a922;
	padding: 6px 10px;
	margin:0;
	cursor:pointer;
	font-weight:normal;
	line-height:1;
	position: relative;
}
#cusFil h3:hover{
	background-color: #79a922;
	color: #16282b;
}

.customLoading{
	display:none;
	font-size:14px;
	position: absolute;
	right:10px;
	top:8px;
	text-transform: uppercase;
	background:#C6D490;
	border-radius: 50%;
	width:12px;
	height:12px;
	text-indent: -9999em;
	opacity: 0.9;
	animation: pulse 500ms infinite;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(220,230,184, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 6px rgba(220,230,184, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(220,230,184, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(220,230,184, 0.8);
    box-shadow: 0 0 0 0 rgba(220,230,184, 0.8);
  }
  70% {
    -moz-box-shadow: 0 0 0 6px rgba(220,230,184, 0.3);
    box-shadow: 0 0 0 6px rgba(220,230,184, 0.3);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(220,230,184, 0);
    box-shadow: 0 0 0 0 rgba(220,230,184, 0);
  }
}

#cuisine p{
	font-size:16px;
	padding:0 10px;
	display:block;
	clear:both;
	color:white;
	margin:0;
	cursor:pointer;
	text-overflow: "…";
	white-space: nowrap;
  	overflow: hidden;
}

#cuisine p.gradeStyle{

}

#cuisine p i {
	display:none;
	font-style: normal;
	font-size:14px;
}

#cuisine p:hover{
	font-size:28px;
	background:black;
	padding:10px;
}

#cuisine p:hover span.c_color{
	border-radius:10px;
	width:20px;
	height:20px;
	margin-top:8px;
}

#cuisine p:hover i{
	color:#ccc;
	display:block;
}

#cuisine p span.c_color{
	display:block;
	float:left;
	margin-top:6px;
	margin-right:4px;
	border-radius:5px;
	width:10px;
	height:10px;
}
.markerLoading{
	padding:20px;
	color:#999;
}
.mapboxgl-popup-content{
	padding:0;
}
#markerContent{
	width:400px;
}
#markerContent #markerLoading{
	display:inline-block;
	margin:200px 20px;
	text-transform: uppercase;
	border-bottom:6px solid #999;
	padding-bottom:4px;
	color:#999;
	text-align: center;
}

#markerContent h1, #markerContent h2{
	font-size:22px;
	padding:0 16px;
	margin:16px 0 0;
	font-weight:bold;
	line-height:1.2;
}
#markerContent .scoreColumn h1{
	line-height:20px;
}
#markerContent h2{
	color:#999;
	font-weight:normal;
	margin:6px 0 10px;
	font-size:16px;
}
ol.markerInspections{
	height:240px;
	overflow-y: scroll;
	padding:0 16px;
	list-style: none;
	margin:0;
}
ol.markerInspections li{
	border-bottom:1px solid #ccc;
	padding:16px 0;
}
ol.markerInspections li p.insTime{
	margin:0 0 4px;
	font-size:12px;
	color:#999;
}
ol.markerInspections li p.insDesc{
	font-size:16px;	
	margin:0;
}
.score{
	background:#eee;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.score .scoreColumn{
	width:100px;
	border-right:1px solid #ccc;
	display:inline-block;
	padding:12px 16px 10px;
	vertical-align: middle;
}
.score.sf{
	border-color: #fff;
}
.score.sf .scoreColumn{
	width:167px;
	border-color: #fff;
}

.score.sf .scoreColumn.avgScoreStyle{
	border:none;
}

.sf .hdi{
	color:#111;
}


.score .scoreColumn.grade{
	text-align: center;
	border:none;
	width:102px;
}
.critical{
	background-color: red;
	padding:1px 6px;
	color:white;
	opacity: 0.8;
	border-radius:14px;
	display:inline-block;
}
#markerContent .score .scoreColumn.g_A{
	background:#3cec62;
}
#markerContent .score .scoreColumn.g_A h1,
#markerContent .score .scoreColumn.g_A .hdi,
#markerContent .score .scoreColumn.g_A .scoreLabel{
	color:#070d08;
}

#markerContent .score .scoreColumn.g_B{
	background:#aae3f1;
}
#markerContent .score .scoreColumn.g_B h1,
#markerContent .score .scoreColumn.g_B .hdi,
#markerContent .score .scoreColumn.g_B .scoreLabel{
	color:#0252d9;
}

#markerContent .score .scoreColumn.g_C{
	background:#f1c6ca;
}
#markerContent .score .scoreColumn.g_C h1,
#markerContent .score .scoreColumn.g_C .hdi,
#markerContent .score .scoreColumn.g_C .scoreLabel{
	color:#a70019;
}


#markerContent .score .scoreColumn h1{
	font-size:40px;
	margin:0;
	padding:0;
}
.score .scoreColumn:last-child{
	border:none;
}
.score .scoreColumn .scoreLabel{
	margin:0 0 10px;
	font-weight: bold;
}
.score p{
	margin:0;
}
.scoreNumber{
	font-size:40px;
	font-weight:bold;
}
.scoreNumber span{
	font-size:12px;
}
.hdi{
	color:#999;
	padding:10px 0 0;
}
.score:hover .lowerDIsclaimer{
	display:block;
}
.lowerDIsclaimer{
	font-size: 12px;
	position: absolute;
	display:none;
	z-index:1000;
	margin:0;
	background:#f1f1f1;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	padding:2px 16px;
}
.lowerDIsclaimer a:hover{
	color:#333;
}
.lowerDIsclaimer a, .lowerDIsclaimer span{
	display:inline-block;
	text-decoration: none;
	color:#999;
}
#mobileButton{
	display:none;
	position: fixed;
	bottom:20px;
	right:20px;
	background:#16282b;
	padding:10px;
	text-decoration: none;
	font-weight:bold;
	color:#79a922;
	border:1px solid #79a922;
}

#tabs{
	list-style: none;
	margin:4px 0 10px;
	padding:0 0 0 10px;
	font-size:14px;
	opacity: 0.9;
}

#tabs li{
	display:inline-block;
	padding:6px 8px;
	margin:0;
	cursor: pointer;
	background: #79a922;
	color:#16282b;
}

#tabs li:hover{
	opacity: 0.8;
}

#tabs li.tab-selected{
	color:#79a922;
	background: #16282b;
}

#pn{
	color:white;
}
#pn p{
	display:inline-block;
	margin: 0 10px 0 0;
	padding:10px;
	opacity: 0.6;
	cursor: pointer;
}

#pn p:hover{
	opacity: 1;
}

#pn p.pn-s{
	background: #16282b;
	font-weight:bold;
	opacity: 1;
}

#overlay{
	background: white;
    height: 430px;
    width: 500px;
    position: fixed;
    top: 50%;
    padding:10px 20px;
    opacity: 0.9;
    transform: translateY(-50%);
    display:none;
}

.others{
	border-top:1px solid #ccc;
	padding-top:20px;
	font-size:14px;
}
.others a{
	display:inline-block;
	margin-right:10px;
}
h1#footerHeader{

}
@media only screen and (max-width: 500px) {
	#pn p{
		width:100%;
	}
	#mobileButton{
		display:block;
	}
	#markerContent{
		width:300px;
	}
	.score .scoreColumn{
		width:66px;
	}
	.score .scoreColumn.grade{
		width:70px;	
	}

	.score p{
		line-height:1;
		
	}
	.scoreNumber{
		font-size:30px;
	}
	.hdi{
		font-size:11px;
		padding:4px 0 0;
	}

	.score .scoreColumn .scoreLabel{
		margin:0 0 4px;
		display:block;
		height:20px;
	}
	#markerContent .score .scoreColumn h1{
		font-size:30px;
		margin:8px 0 0;
		padding:2px 0 4px;
	}

	ol.markerInspections li p.insDesc{
		font-size:14px;	
		line-height:1.3;
		margin:0;
	}

    #menu{
    	display:none;
    	width:200px;
    	left:0;
    }
    #cuisine{
    	padding-bottom:0;
    }
    #cusFil h3{
    	line-height:1.2;
    	font-size:16px;
    }
    #search input{
    	font-size:16px;
    }
    #search input{
    	width:180px;
    }
    #footer{
		width:200px;
		position: relative;
	}
	.score.sf .scoreColumn{
		width:117px;
		border-color: #fff;
	}

}